@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Teko", sans-serif;
}

.header {
  width: 100%;
  height: 90vh;
  background-color: rgb(19, 17, 17);
}

.image {
  width: 70%;
  height: 600px;
  position: absolute;
  top: 15%;
  left: 15%;
  animation: Left 2s ease-out;
}

.text {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 7%;
}

.big-text {
  color: rgba(172, 172, 172, 0.8);
  font-size: 220px;
  animation: Right 2s ease-out;
}

.color-text {
  color: rgb(133, 2, 2);
}

.nav {
  background-color: #000;
  width: 100%;
  height: 60px;
  color: #ffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
}

.logo {
  cursor: pointer;
  font-size: 50px;
}

.navbar-links {
  list-style: none;
  display: flex;
}

.link {
  margin-left: 20px;
  cursor: pointer;
  font-size: 24px;
  transition: all 0.3s;
}

.link:hover {
  color: rgb(133, 2, 2);
  transform: scale(1.3);
}

.media {
  color: #fff;
  padding: 5px;
  position: absolute;
  bottom: 80px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  animation: Right 1s ease-in;
}

.media-link {
  margin-top: 10px;
}

.media-text {
  font-size: 18px;
  margin-left: 5px;
}

@keyframes Right {
  0%{
    opacity: 0;
    transform: translateX(-150px);
  }
  90%{
    transform: translateX(10px);
  }

  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes Left {
  0%{
    opacity: 1;
    transform: translateX(150px);
  }
  90%{
    transform: translateX(-10px);
  }

  100%{
    opacity: 1;
    transform: translateX(0);
  }
}



.media-link-facebook {
  transition: all 0.3s;
}

.media-link-facebook:hover {
  color: rgba(0, 85, 255, 0.683);
}

.media-link-instagram {
  transition: all 0.3s;
}

.media-link-instagram:hover {
  color: rgba(255, 0, 47, 0.867)
}

.media-link-twitter {
  transition: all 0.3s;
}

.media-link-twitter:hover {
  color: rgba(0, 238, 255, 0.842);
}
